<div class="decription recentlyViewedBlock" style="display: none;">
    <div>Вы надавно смотрели:</div>
    <div id="recentlyViewed"></div>
</div>

<footer>
    <div class="footer">
        <span style="color: #ccc;">
            <strong style="color: #fff;">
                &copy;&nbsp;2017&nbsp;<a href="https://cinemapress.org" target="_blank" style="color: #fff">CinemaPress&nbsp;ACMS</a>
            </strong> | Для связи с администрацией <%- page.email %>
        </span>
        <% if (page.social) { %>
        <span class="copyright">
            <% if (page.social.vk) { %><a href="<%- page.social.vk %>" target="_blank">ВК</a><% } %>
            <% if (page.social.facebook) { %><span> | </span><a href="<%- page.social.facebook %>" target="_blank">facebook</a><% } %>
            <% if (page.social.twitter) { %><span> | </span><a href="<%- page.social.twitter %>" target="_blank">twitter</a><% } %>
            <% if (page.social.gplus) { %><span> | </span><a href="<%- page.social.gplus %>" target="_blank">G+</a><% } %>
        </span>
        <% } %>
    </div>

    <script src="/themes/ramsay/public/js/all.js"></script>

    <script type="text/javascript" src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://yastatic.net/share2/share.js" charset="utf-8"></script>

    <div id="scroller" class="b-top" style="display: none;"><span class="b-top-but">Наверх</span></div>
</footer>

<%- page.codes.footer %>