<div class="right_side" id="mMenu">
    <div class="right_block">

        <% if (typeof top === 'object' && top.length) { %>

        <div class="msupdate_block">
            <div class="msupdate_block_date">Топ</div>
            <ul class="msupdate_block_list">

                <% top.forEach(function (movie) { %>

                <li class="msupdate_block_list_item">
                    <div class="msupdate_block_list_item_inner">
                        <div class="cell cell-1">
                            <a class="msupdate_block_list_link" href="<%- movie.url %>"><%- movie.title %></a> <span class="season"><%- movie.title_en %></span>
                        </div>
                        <span class="cell cell-2"><%- movie.year %></span>
                    </div>
                </li>

                <% }); %>

            </ul>
        </div>

        <% } %>

        <ul class="leftmenu mc2">
            <% page.urls.years.slice(0,5).forEach(function(genre) { %>
            <li>
                <a href="<%- genre.url %>">
                    <span>Фильмы <%- genre.title %> года</span>
                </a>
            </li>
            <% }); %>
        </ul>
        <div class="menugod">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>" class="menugo1d">Кино</a>
            <a href="/<%- page.urls.content %>?tag=Коллекция" class="menugo2d">Подборки фильмов</a>
        </div>
        <nav>
            <ul class="leftmenu mc1">
                <% page.urls.genres.forEach(function(genre) { %>
                <li>
                    <a href="<%- genre.url %>">
                        <span><%- genre.title %></span>
                    </a>
                </li>
                <% }); %>
            </ul>
        </nav>

        <ul class="leftmenu mc2">
            <li><a href="/<%- page.urls.year %>"><span>Все годы</span></a></li>
            <li><a href="/<%- page.urls.genre %>"><span>Все жанры</span></a></li>
            <li><a href="/<%- page.urls.country %>"><span>Все страны</span></a></li>
            <li><a href="/<%- page.urls.actor %>"><span>Все актеры</span></a></li>
            <li><a href="/<%- page.urls.director %>"><span>Все режиссеры</span></a></li>
        </ul>

        <% if (typeof page.adv === 'object' && page.adv.right) { %>
        <div style="clear: both"></div>
        <div style="text-align: center; margin: 10px auto;">
            <%- page.adv.right %>
        </div>
        <div style="clear: both"></div>
        <% } %>

        <% if (typeof soon === 'object' && soon.length) { %>

        <span class="right_blockb">Скоро</span><br>
        <span class="bold-t">на сайте</span><br>
        <div class="slideserbox">
            <ul id="slides4">

                <% soon.forEach(function (movie) { %>

                <li>
                    <a href="<%- movie.url %>" class="brost" title="<%- movie.title %> (<%- movie.year %>)">
                        <img class="ghost" src="<%- movie.poster %>" alt="<%- movie.title %> (<%- movie.year %>)"/>
                        <span><%- movie.title %> (<%- movie.year %>)</span>
                    </a>
                </li>

                <% }); %>

            </ul>
        </div>

        <% } %>

        <% if (typeof news === 'object' && news.length) { %>
        <% news.forEach(function (content) { %>
        <div style="float: left; width: 100%;">
            <div style="margin: 10px 0; padding: 0">
                <a href="<%- content.url %>" class="cinemapress-news">
                    <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%- content.title %>">
                    <div class="cinemapress-news-title">
                        <%- content.title %>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
        <% } %>

        <% if (typeof recent === 'object' && recent.length) { %>
        <% recent.forEach(function (comment) { %>
        <div style="float: left; width: 100%;">
            <div class="cinemapress-recent">
                <div class="cinemapress-recent-head">
                    <% if (comment.avatar) { %>
                    <div class="cinemapress-recent-head-avatar">
                        <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
                    </div>
                    <% } %>
                    <div class="cinemapress-recent-head-meta">
                        <div>
                            <a href="<%- comment.url %>"><%- comment.title %></a>
                        </div>
                        <div>
                            <span>
                                <%- comment.user %>
                            </span><span>
                                сказал(а)
                            </span><span>
                                <%- comment.date %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cinemapress-recent-comment">
                    <%- comment.comment %>
                </div>
            </div>
        </div>
        <% }); %>
        <% } %>

    </div>
</div>