<div class="right_side" id="mMenu">
    <div class="right_block">

        <% if (typeof top === 'object' && top.length) { %>

        <div class="msupdate_block">
            <div class="msupdate_block_date"><%- page.l.top %></div>
            <ul class="msupdate_block_list">

                <% top.forEach(function (movie) { %>

                <li class="msupdate_block_list_item">
                    <div class="msupdate_block_list_item_inner">
                        <div class="cell cell-1">
                            <a class="msupdate_block_list_link" href="<%- movie.url %>"><%= movie.title %></a> <span class="season"><%= movie.title_en %></span>
                        </div>
                        <span class="cell cell-2"><%- movie.year %></span>
                    </div>
                </li>

                <% }); %>

            </ul>
        </div>

        <% } %>

        <% if (typeof index === 'object') {
                for (var type in index) {
        if (index.hasOwnProperty(type) && index[type].length && type === 'episode') {
        index[type].forEach(function (category) { %>

            <div class="msupdate_block">
                <div class="msupdate_block_date"><%- category.name %></div>
                <ul class="msupdate_block_list">

                    <% if (category.movies.length) {
                    category.movies.forEach(function (movie) { %>

                        <li class="msupdate_block_list_item">
                            <div class="msupdate_block_list_item_inner">
                                <div class="cell cell-1">
                                    <a class="msupdate_block_list_link" href="<%- movie.url %>"><%= movie.title %></a> <span class="season"><% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %><% if (movie.translate) { %>(<%- movie.translate %>)<% } %><% } %></span>
                                </div>
                            </div>
                        </li>

                    <% }); } %>

                </ul>
            </div>

        <% }); } } } %>

        <ul class="leftmenu mc2">
            <% page.urls.years.slice(0,5).forEach(function(year) { %>
            <li>
                <a href="<%- year.url %>">
                    <span><%- page.l.movies %> <%- year.title %></span>
                </a>
            </li>
            <% }); %>
        </ul>
        <div class="menugod">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>" class="menugo1d"><%- page.l.movies %></a>
            <a href="/<%- page.urls.content %>?tag=<%- page.l.collections %>" class="menugo2d"><%- page.l.collections %></a>
        </div>
        <nav>
            <ul class="leftmenu mc1">
                <% page.urls.genres.forEach(function(genre) { %>
                <li>
                    <a href="<%- genre.url %>">
                        <span><%- genre.title %></span>
                    </a>
                </li>
                <% }); %>
            </ul>
        </nav>

        <ul class="leftmenu mc2">
            <li><a href="/<%- page.urls.year %>"><span><%- page.l.allYears %></span></a></li>
            <li><a href="/<%- page.urls.genre %>"><span><%- page.l.allGenres %></span></a></li>
            <li><a href="/<%- page.urls.country %>"><span><%- page.l.allCountries %></span></a></li>
            <li><a href="/<%- page.urls.actor %>"><span><%- page.l.allActors %></span></a></li>
            <li><a href="/<%- page.urls.director %>"><span><%- page.l.allDirectors %></span></a></li>
        </ul>

        <% if (typeof page.adv === 'object' && page.adv.right) { %>
        <div style="clear: both"></div>
        <div style="text-align: center; margin: 10px auto;">
            <%- page.adv.right %>
        </div>
        <div style="clear: both"></div>
        <% } %>

        <% if (typeof soon === 'object' && soon.length) { %>

        <span class="right_blockb"><%- page.l.soon.split(' ')[0] || '' %></span><br>
        <span class="bold-t"><%- page.l.soon.split(' ')[1] || '' %></span><br>
        <div class="slideserbox">
            <ul id="slides4">

                <% soon.forEach(function (movie) { %>

                <li>
                    <a href="<%- movie.url %>" class="brost" title="<%= movie.title %> (<%- movie.year %>)">
                        <img class="ghost" src="<%- movie.poster %>" alt="<%= movie.title %> (<%- movie.year %>)"/>
                        <span><%= movie.title %> (<%- movie.year %>)</span>
                    </a>
                </li>

                <% }); %>

            </ul>
        </div>

        <% } %>

        <% if (typeof news === 'object' && news.length) { %>
        <% news.forEach(function (content) { %>
        <div style="float: left; width: 100%;">
            <div style="margin: 10px 0; padding: 0">
                <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url('<%- content.image %>');">
                    <div class="cinemapress-news-title">
                        <%= content.title %>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
        <% } %>

        <% if (typeof recent === 'object' && recent.length) { %>
        <% recent.forEach(function (comment) { %>
        <div style="float: left; width: 100%;">
            <div class="cinemapress-recent">
                <div class="cinemapress-recent-head">
                    <% if (comment.avatar) { %>
                    <div class="cinemapress-recent-head-avatar">
                        <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
                    </div>
                    <% } %>
                    <div class="cinemapress-recent-head-meta">
                        <div>
                            <a href="<%- comment.url %>"><%= comment.title %></a>
                        </div>
                        <div>
                            <span>
                                <%- comment.user %>
                            </span><span>
                                <%- page.l.said %>
                            </span><span>
                                <%- comment.date %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cinemapress-recent-comment">
                    <%- comment.comment %>
                </div>
            </div>
        </div>
        <% }); %>
        <% } %>

    </div>
</div>