<!doctype html>
<html lang="ru-RU">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div class="wrapper">

    <% include includes/header.ejs %>

    <div class="container">
        <main>
            <div class="main">

                <div class="sbar">
                    <div class="speedbar">
						<span>
							<a href="<%- page.protocol %><%- page.domain %>">
								<span>Главная</span>
							</a>
						</span> »
                        <%- page.title %>
                    </div>
                </div>

                <% if (typeof page.adv == 'object' && page.adv.top) { %>
                <div style="text-align: center; margin: 10px auto;">
                    <%- page.adv.top %>
                </div>
                <% } %>

                <div class="short_zombiz">
                    <div class="short_podborki">
                        <div class="fullstory">
                            <h1><%- page.title %></h1>

                            <div class="collect-content">

                                <% if (typeof categories == 'object' && categories.length) { %>

                                <% categories.forEach(function (category) { %>

                                <a href="<%- category.url %>" class="collect-block" target="_blank">
									<span class="collect-title">
										<img src="/themes/ramsay/public/images/video-play.png" alt="<%- category.name %>">
										<span class="hyphenate"><%- category.name %></span>
									</span>
									<span class="collect-img-block">
										<span class="collect-img" style="background: #000 url('<% if (category.image) { %><%- category.image %><% } else { %>https://st.kp.yandex.net/images/kadr/sm_2136182.jpg<% } %>') right top no-repeat"></span>
									</span>
                                </a>

                                <% }); %>

                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>

                <% if (typeof page.adv == 'object' && page.adv.bottom) { %>
                <div style="text-align: center; margin: 10px auto;">
                    <%- page.adv.bottom %>
                </div>
                <% } %>

                <% if (page.seo) { %>

                <div class="decription" style="border-right: 1px solid #101010;">
                    <div class="decription-text">
                        <%- page.seo %>
                    </div>
                </div>

                <% } %>

            </div>
        </main>
        <aside>

            <% include includes/right.ejs %>

        </aside>
    </div>

    <% include includes/footer.ejs %>

</div>
</body>
</html>