<!doctype html>
<html lang="ru-RU">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div class="wrapper">

    <% include includes/header.ejs %>

    <div class="container">
        <main>
            <div class="main">

                <div class="sbar">
                    <div class="speedbar">
						<span>
							<a href="<%- page.protocol %><%- page.domain %>">
								<span>Главная</span>
							</a>
						</span> »
                        <%- page.title %>
                    </div>
                </div>

                <div class="sort">

                    <h1><%- page.title %></h1>

                    <br><br>

                    <% page.sorting.forEach(function (sort) { %>

                    <% if (sort.active) { %>

                    <a href="<%- sort.url %>">
                        <strong><%- sort.name %></strong>
                    </a>

                    <% } else { %>

                    <a href="<%- sort.url %>">
                        <%- sort.name %>
                    </a>

                    <% } %>

                    <% }); %>

                </div>

                <div id='cinemapress-content'>

                    <% if (typeof movies == 'object' && movies.length) { %>

                    <% movies.forEach(function (movie) { %>

                    <div class="short_zombiz">
                        <div class="short_story">
                            <div class="title">
                                <img src="/themes/ramsay/public/images/video-play.png" class="h2-title-short" alt="Онлайн">
                                <h2><a href="<%- movie.url %>"><%- movie.title_ru %> (<%- movie.year %>)</a></h2>
                            </div>
                            <div class="short_img2">
                                <div class="short_img2-layout">
                                    <div class="container-a4">
                                        <ul class="caption-style-4">
                                            <li>
                                                <a href="<%- movie.url %>" title="<%- movie.title_ru %>">
                                                    <img src="<%- movie.poster %>" alt="<%- movie.title_ru %> (<%- movie.year %>)" title="<%- movie.title_ru %> (<%- movie.year %>)" class="okrug">
                                                    <div class="caption">
                                                        <div class="blur"></div>
                                                        <div class="caption-text"></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <% if (movie.description_short) { %>
                                <div style="margin-bottom: 5px">
                                    <%- movie.description_short %>...
                                </div>
                                <% } %>
                                <% if (movie.year_url) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold">Год:</span> <%- movie.year_url %>
                                </div>
                                <% } %>
                                <% if (movie.countries_url) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold">Страна:</span> <%- movie.countries_url %>
                                </div>
                                <% } %>
                                <% if (movie.genres_url) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold">Жанр:</span> <%- movie.genres_url %>
                                </div>
                                <% } %>
                                <% if (movie.directors_url) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold">Режиссер:</span> <%- movie.directors_url %>
                                </div>
                                <% } %>
                                <% if (movie.actors_url) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold">Актеры:</span> <%- movie.actors_url %>
                                </div>
                                <% } %>
                                <% if (movie.kp_rating) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold" style="color: #F29420">КмноПоиск:</span> <%- movie.kp_rating/10 %> (<%- movie.kp_vote %> голосов)
                                </div>
                                <% } %>
                                <% if (movie.imdb_rating) { %>
                                <div style="margin-bottom: 5px">
                                    <span class="bold" style="color: #E4AD2C">IMDb:</span> <%- movie.imdb_rating/10 %> (<%- movie.imdb_vote %> голосов)
                                </div>
                                <% } %>
                            </div>
                                <span style="float:right; padding-top: 4px;">
                                    <span class="dateicon" title="Дата"><%- movie.premiere %></span>
                                </span>
                            <div style="clear:both;"></div>
                            <% if (movie.rating) { %>
                            <div class="rate">
                                <div class="add_right">
                                    <div class="rating">
                                        <ul class="unit-rating">
                                            <li class="current-rating" style="width:<%- movie.rating %>%;"><%- movie.rating/10 %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                    <% }); %>

                    <% } %>

                    <div class="bot-left">
                        <div class="bot-navigation">
                            <% if (page.pagination.prev.length) { %>
                            <% page.pagination.prev.slice(-6).forEach(function (prev) { %>
                            <a href="<%- prev.link %>" rel="nofollow"><%- prev.number %></a>
                            <% }); %>
                            <span class="nav_ext">...</span>
                            <% } %>
                            <span><%- page.pagination.current %></span>
                            <% if (page.pagination.next.length) { %>
                            <span class="nav_ext">...</span>
                            <% page.pagination.next.slice(0,6).forEach(function (next) { %>
                            <a href="<%- next.link %>" rel="nofollow"><%- next.number %></a>
                            <% }); %>
                            <% } %>
                        </div>
                    </div>
                </div>

                <% if (page.seo) { %>

                <div class="decription" style="border-right: 1px solid #101010;">
                    <div class="decription-text">
                        <%- page.seo %>
                    </div>
                </div>

                <% } %>

            </div>
        </main>
        <aside>

            <% include includes/right.ejs %>

        </aside>
    </div>

    <% include includes/footer.ejs %>

</div>
</body>
</html>