<!doctype html>
<html lang="<%- page.language %>" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div class="wrapper">

    <% include includes/header.ejs %>

    <div class="container">
        <main>
            <div class="main">

                <div class="sbar">
                    <div class="speedbar">
						<span>
							<a href="/">
								<span><%- page.l.home %></span>
							</a>
						</span> »
                        <% if (movie.genre_url) { %>
                        <span>
							<%- movie.genre_url %>
						</span> »
                        <% } %>
                        <span>
							<a href="<%- movie.url %>">
								<span><%= movie.title %></span>
							</a>
						</span> »
                        <%- page.l.online %>
                    </div>
                </div>

                <% if (typeof page.adv === 'object' && page.adv.top) { %>
                <div class="decription" style="text-align: center; border: 1px solid #101010; border-bottom: 0;">
                    <%- page.adv.top %>
                </div>
                <% } %>

                <div id="cinemapress-content">
                    <div class="short_zombiz">
                        <div class="title-full">
                            <img src="/themes/<%- page.theme %>/public/images/video-play.png" class="h2-title-short" alt="<%- page.l.online %>">
                            <h1><%- page.h1 %></h1>
                        </div>

                        <% if (page.seo) { %>
                        <div class="fullstory">
                            <%- page.seo %>
                        </div>
                        <% } %>

                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                        <div style="text-align: center; margin: 10px auto;">
                            <%- page.adv.over %>
                        </div>
                        <% } %>

                        <div class="fullstory episodesListBlock" style="display: none;">
                            <h3><%= movie.title %> <%- page.l.episodes %></h3>
                            <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                        </div>

                        <div class="fullstory">
                            <div class="menuSch" style="left: inherit; top: inherit;">
                                <% if (page.urls.movies.online) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.online %>" class="red"><strong><%- page.l.online %></strong></a>
                                <% } %>
                                <% if (page.urls.movies.download) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.download %>"><%- page.l.download %></a>
                                <% } %>
                                <% if (page.urls.movies.trailer) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>"><%- page.l.trailer %></a>
                                <% } %>
                                <% if (page.urls.movies.picture) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.picture %>"><%- page.l.picture %></a>
                                <% } %>
                            </div>
                            <div class="nomt">
                                <div style="margin: 30px auto 0 auto">
                                    <div id="cinemapress-player">
                                        <% if (page.player) { %>
                                        <%- page.player %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="vozmojnosti1 watchLaterBlock" style="display: none;">
                                <% if (movie.rating) { %>
                                <div class="rating-left">
                                    <div class="rating">
                                        <ul class="unit-rating">
                                            <li class="current-rating" style="width:<%- movie.rating %>%;"><%- movie.rating/10 %></li>
                                        </ul>
                                    </div>
                                    <div class="rating-b">
                                        <%- movie.rating/10 %> / 10 (<span><%- movie.vote %></span> <%- page.l.votes %>)
                                    </div>
                                </div>
                                <% } %>
                                <div class="share-right">
                                    <a href="javascript:void(0)" id="watchLater" class="send-admin"><%- page.l.later %></a>
                                </div>
                            </div>
                            <div style="clear:both;"></div>

                            <% if (typeof page.adv === 'object' && page.adv.under) { %>
                            <div class="decription">
                                <div class="decription-text" style="text-align: center">
                                    <%- page.adv.under %>
                                </div>
                            </div>
                            <% } %>

                            <% if (typeof contents === 'object' && contents.length) { %>
                            <div style="clear: both"></div>
                            <% contents.forEach(function (content) { %>
                            <div style="float: left; width: 50%;">
                                <div style="margin: 0; padding: 10px">
                                    <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url('<%- content.image %>');">
                                        <div class="cinemapress-news-title">
                                            <%= content.title %>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% }); %>
                            <div style="clear: both"></div>
                            <% } %>

                            <% if (typeof movies === 'object') {
                                    for (var type in movies) {
                            if (movies.hasOwnProperty(type) && movies[type].length) {
                            movies[type].forEach(function (category) { %>
                            <div style="clear: both">
                                <div class="bold advice_inf" style="margin: 20px auto 0 auto">
                                    <i><%- category.name %></i>
                                    <div class="randomMovieRelated">
                                        <div class="cinemapress-random-related"
                                             onclick="window.location.href='<%- (category.url.indexOf('?')+1 ? category.url + '&random' : category.url + '?random') %>'"
                                             title="<%- page.l.random %>">
                                            <img src="/themes/<%- page.theme %>/public/images/dice.svg" alt="<%- page.l.random %>">
                                        </div>
                                    </div>
                                </div>
                                <ul class="bloggg" style="padding-top: 15px;">
                                    <% if (category.movies.length) {
                                    category.movies.splice(5, category.movies.length % 5);
                                    category.movies.forEach(function (movie) { %>
                                    <li>
                                        <a href="<%- movie.url %>" class="brost" title="<%= movie.title %> (<%- movie.year %>)">
                                            <img src="<%- movie.poster %>" alt="<%= movie.title %> (<%- movie.year %>)" style="height:170px; width:115px;">
                                            <%= movie.title %> (<%- movie.year %>)
                                        </a>
                                    </li>
                                    <% }); } %>
                                </ul>
                            </div>
                            <% }); } } } %>

                            <div style="clear:both;"></div>
                            <% if (page.comments) { %>
                            <div id="otzyvy">
                                <div class="zagolovvki" style="margin-top: 20px; margin-bottom:20px;">
                                    <div id="cinemapress-comments-list">
                                        <%- page.comments %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
                    <div class="decription" style="text-align: center; border-right: 1px solid #101010;">
                        <%- page.adv.bottom %>
                    </div>
                    <% } %>

                </div>

            </div>
        </main>
        <aside>

            <% include includes/right.ejs %>

        </aside>
    </div>

    <% include includes/footer.ejs %>

</div>
</body>
</html>